/* ========================================================================
Header.jsx 
 ========================================================================== */
#appHeader {
  background-color: #000000b3;
  padding: 0.5%;
}
.navbar-header {
  border-bottom: black solid 2px;
}

#logoAirBnB {
  width: 10%;
  border-radius: 50% ;
}

.headerRainbow:hover {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0, #f22),
    color-stop(0.15, #f2f),
    color-stop(0.3, #22f),
    color-stop(0.45, #2ff),
    color-stop(0.6, #2f2),
    color-stop(0.75, #2f2),
    color-stop(0.9, #ff2),
    color-stop(1, #f22)
  );
  background-image: gradient(
    linear,
    left top,
    right top,
    color-stop(0, #f22),
    color-stop(0.15, #f2f),
    color-stop(0.3, #22f),
    color-stop(0.45, #2ff),
    color-stop(0.6, #2f2),
    color-stop(0.75, #2f2),
    color-stop(0.9, #ff2),
    color-stop(1, #f22)
  );
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
#menuBars {
  color: white
}
#menuBars:hover {
  color: #EAA220
}
.navbar-nav {
  display: inline-block !important;
  padding-left: 60% !important;
}
/* ========================================================================
SideBar.jsx 
 ========================================================================== */
 .sidebar .nav-heading {
  padding: 12px 15px;
  color: white;
  font-size: 20px;
  letter-spacing: .035em;
  pointer-events: none;
  cursor: default;
 }

 .sidebar-nav {
  position: relative;
  font-size: 14px;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.sidebar-nav > li > a {
  position: relative;
  display: block;
  padding: 12px 24px;
  color: white;
  letter-spacing: 0.025em;
  font-weight: 400;
  cursor: pointer;
  font-size: 1.5em;
  width: auto;
}

#active a{
  color: #EAA220 !important;
}

.aside-container {
  width: 70px;
  z-index: 1;
}

.aside-inner {
  position: fixed;
  top: 0;
  bottom: 0;
  padding-top: 67px;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}
.sidebar {
  height: 100%;
  padding-bottom: 20px;
  background-color: #000000b3;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
 /* ========================================================================
Base.jsx
 ========================================================================== */

.section-container {
  background-color: #a2e4b8;
}
 /* ========================================================================
Footer.jsx
 ========================================================================== */
.footer-container {
  border-top: black solid 2px;
}
