.content-wrapper {
    padding: 20px;
}

.img-fluid {
    max-width: 50%;
    height: auto;
}
.content-wrapper .content-heading {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    font-size: 1.5rem;
    line-height: 1.1;
    color: #EAA220;
    margin: -15px -15px 20px;
    padding: 15px;
    /* font-weight: 400; */
    background-color: #1B842C;
    /* border-bottom: 1px solid #cfdbe2; */
}

#contactCard {
background-color: #1B842C; 
/* color: #EAA220;    */
}
#contactCard h4{
/* background-color: #1B842C;  */
color: #EAA220;   
}
#contactCard h5,span{
/* background-color: #1B842C;  */
color: white;   
}

#contactMenu{
background-color: #1B842C; 
}

#menuShortcut{
    /* color: #1B842C;  */
    background-color: #EAA220;   
}

#toggleButton{
    color: #1B842C; 
}

#subMenu{
    background-color: #145f20;
    color: #EAA220;
}
#subMenuIcon em + span{
    color: #1B842C;
}

.card {
    margin-bottom: 1.25rem;
}

#profilePhoto {
    /* display: inline-block ; */
    /* width: 7px ; */
    height: 200px ;
    border-radius: 500px ;
    margin: 0 0.5em ;
    background-color: transparent ;
    /* vertical-align: baseline ; */
    border: solid ;
    border-color: #EAA220;
    /* border-color: #d4af37 ;     */
}