/* ========================================================================
Contact.jsx 
 ========================================================================== */
.content-wrapper {
  padding: 20px;
}
/* ========================================================================
ContactCleaners.jsx 
 ========================================================================== */
.content-wrapper .content-heading {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  font-size: 1.5rem;
  line-height: 1.1;
  color: #eaa220;
  margin: -15px -15px 20px;
  padding: 15px;
  background-color: #133a26;
}
/* ========================================================================
SearchContacts.jsx 
 ========================================================================== */
.SearchBarContactsBorder {
  border: solid 2px;
  border-color: rgb(234, 162, 32);
}
/* ========================================================================
SingleCleanerProfile.jsx 
 ========================================================================== */
#contactCardButtonArea {
  background-color: #133a26;
}
#contactCard {
  background-color: #133a26;
}
#contactCard h4 {
  color: #eaa220;
}
.imageContainer {
  height: 250px;
  overflow: hidden;
}
#profilePhoto {
  width: 40%;
  height: 100%;
  border-radius: 50%;
  margin: 0 0.5em;
  border: solid;
  border-color: #eaa220;
}

/* ========================================================================
SingleCleanerView.jsx 
 ========================================================================== */
#toggleButton {
  color: #eaa220;
}
#subMenu {
  background-color: #6c757d;
  color: #eaa220;
}
#subMenuIcon em,
#subMenuIcon span {
  color: #eaa220;
}
#modalProfilePhoto {
  width: 20%;
  height: 50%;
  border-radius: 500px;
  margin: 0 0.5em;
  background-color: transparent;
  box-shadow: 8px 6px 8px 1px #969696;
  -webkit-box-shadow: 8px 6px 8px 1px #969696;
}
.nameStrongModal {
  font-size: 2.5rem;
}
#itemSeparator {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  padding-left: 0;
  padding-right: 0;
}

#innerModalDetailsText {
  color: #eaa220;
}

/* #itemSeparator2 {
  border-right: 1px solid rgba(0,0,0,0.1); 
  padding-left: 0;
  padding-right: 0;
   text-align: center;
   padding: 10px;    
}
*/

/* ========================================================================
ContactFormPage.jsx 
 ========================================================================== */
#formCleanerTitle {
  text-align: center;
  color: #eaa220;
  background-color: #133a26;
  width: 100%;
}

#cleanerFormAddnUpdate {
  border: solid;
  border-color: rgb(234, 162, 32);
  background-color: rgb(19, 58, 38);
  color: white;
}
.labelContainer {
  width: 100%;
  text-align: center;
}
#feedbackFormat {
  width: 100%;
  text-align: center;
}
/* ========================================================================
RC pagination 
 ========================================================================== */

.rc-pagination-item-active {
  background-color: #133a26 !important;
  border-color: #133a26 !important;
}

.rc-pagination-item-active a {
  color: #eaa220 !important;
}
